# Node & Dependencies
node_modules
dist
dist-ssr
*.local
npm-debug.log*

# Firebase & Secrets (CRITICAL)
serviceAccountKey.json
google-services.json
.env
*.env.local

# Databases
*.db
*.sqlite

# Android & Capacitor
android/
capacitor-cordova-android-plugins/
.gradle/
build/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
